---
---

@import "{{ site.theme }}";

body {
  font-family: proxima-nova, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  background: #F2F2F2;
  color: #000;
}

img {
  max-width: 1024px;
}

h1 {
  font-size: 32px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 21px;
}
h4 {
  font-size: 18px;
}

.inner {
  max-width: 1024px;
}

.highlight {
  background: none;
}

.apidocs h1, .apidocs h2, .apidocs h3 {
  background: none;
  padding: 0;
  border-bottom: 1px dashed #CCCCCC;
  margin: 20px 0 5px 0;
}

.apidocs h3 {
  padding-bottom: 10px;
}

.apidocs p {
  margin: 5px 0px;
}

.apidocs ul {
  margin: 5px 0px;
}

.apidocs .extends {
  font-size: 21px;
}

p > code {
  font-weight: bold;
}

code {
  background-color: transparent;
  padding: 0px;
  box-shadow: none;
}

div.highlighter-rouge > pre {
  background-color: #F8F8F8;
  white-space: pre-wrap;
}

.apidocs pre {
  box-shadow: none;
}

.apidocs a[id] + div.language-swift {
  margin-top: 15px;
}

.apidocs a[id] + div.language-swift > pre {
  background-color: white;
  margin: 5px 0px;
  padding: 5px 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.apidocs a[id] + div.language-swift > pre > code {
  margin: 0px;
  font-size: 18px;
}

#main_content_wrap {
  border: none;
}

#main_content {
  padding-top: 20px;
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
}

#main_content.apidocs {
  padding-top: 20px;
}

#main_content.apidocs > p:first-child {
  font-size: large;
}

#project_title {
  text-shadow: none;
  font-size: 32px;
}

#project_title, #project_title a {
  color: #000;
}
#project_title a {
  font-style: italic;
}

.navbar {
  float: right;
  font-size: large;
  margin-top: 18px;
}

.navbar a {
  color: #000;
}

#header_wrap .inner {
  padding: 0px;
}

footer p {
  text-align: center;
  color: #000;
}

#footer_wrap .inner img {
  border: 0;
  box-shadow: none;
  margin: 0;
}

#forkme_banner {
  color: #F2F2F2;
  background: url('../images/blacktocat.png') #111 no-repeat 95% 50%;
}
